.DS_Store
build
*.sys
*.o
*.a
*.img
*.tar.gz
pure64-0.7.1/
/src/pure64
/src/stage-three/stage-three
/src/util/pure64
/src/util/rc
/src/util/mbr-data.h
/src/util/mbr-data.c
/src/util/pure64-data.h
/src/util/pure64-data.c
/src/util/stage-three-data.h
/src/util/stage-three-data.c
/docs/html
/docs/latex
/testing/kernel
